.view-btn {
  margin-top: 400px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: orange;
  color: white;
  padding: 20px;
}

.search-btn {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: orange;
  color: white;
  padding: 20px;
}

.verify-btn{
  margin-top: 100px;
  background-color: orange;
  color: white;
  padding: 10px;
  width: 90%;
}

.num-input {
  width: 100px;
}